.dashboard-wrapper {
  border: calc(0.0625rem * var(--mantine-scale)) solid
    var(--mantine-color-default-border);
  border-top: 0;
  padding: 0 var(--mantine-spacing-xs);
}

.counter {
  font-size: var(--mantine-font-size-xs);
}
.clear-button {
  font-size: var(--mantine-font-size-xs);
}
